* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Network {
    width: 100vw;
    display: flex;
    padding-left: 1%;
}

.Expand_side {
    width: 35%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3em;
}

.our_features {
    color: red;
    font-size: 150%;
    font-weight: 600;
}

.Expand_your_Network {
    font-size: 4rem;
}

.down_Ex_S {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.Ern {
    border: 1px solid rgb(18, 13, 13);
    border-radius: 35px;
    margin-left: auto;
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.Ern_right {
    width: 70%;
}

.Ern_left {
    padding-top: 10px;
}

.Ern_containt {
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
}

.Ern_right p {
    font-size: 15px;
    padding: 10px;
}

.get_main {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}

.get {
    border: 1px solid rgb(18, 13, 13);
    border-radius: 35px;
    display: flex;
    justify-content: space-around;
    width: 70%;


}

.get_12k {
    background-color: black;
    color: white;
    border-radius: 25px;
    padding: 10px;
    width: 20%;
    height: 70%;
    margin-top: 40px;

}

.get_12k h1 {
    margin-bottom: 5px;
}

.get_12k p {
    font-size: 1em;
}

.Expand_side_right {
    width: 55%;
    display: flex;
    justify-content: space-evenly;
}

.Expand_side_right_1 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;

}

.Expand_side_right_2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;


}

.add {
    width: 80%;

}

.Expand_side_right_2_up {
    padding-left: 100px;

}

.Expand_side_right_2_up p {
   
    font-size: 15px;
    width: 75%;
    padding-top: 30px;
    line-height: 25px;
}

.Expand_side_right_2_up button {
    width: 150px;
    height: 50px;
    background-color: rgb(255, 102, 0);
    color: white;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 600;
    margin-top: 25px;
}

.Expand_side_right_2_down {
    width: 70%;
    height: 42%;
    background-image: url("./qr.jpg");
    background-size: cover;
}

.About {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-evenly;
    background-color: rgb(231, 231, 231);
}

.Join {
    width: 30%;
    text-align: center;
    border-right: 1px solid rgb(139, 139, 139);
    padding: 10px;
}

.J_l {
    border: none;
}

.Join h2 {
    font-size: 5em;
    font-weight: 200;
}

.Join p {
    font-weight: 100;
    font-size: 1em;
}

@media screen and (max-width: 1100px) {
    .Network {
        width: 100vw;
        display: block;
        padding-left: 1%;
    }

    .Expand_side {
        width: 100%;
        padding: 10%;
        gap: 5em;
       
    }
    .get {
        width: 50%;
    
    }
    .Ern {
        width: 55%;
    }
    .Ern_left {
        padding-right: 10px;
    }
    .get_12k {
        padding: 3%;
    
    }
    .Expand_side_right {
        width: 100%;
    }
    .Expand_side_right_1 {
        
    }
    .Expand_side_right_2 {
        width: 40%;
    
    
    }
    .Join h2 {
        font-size: 3em;
    }
    
    .Join p {
        font-size: 0.7em;
    }


}
@media screen and (max-width: 900px) {
    .Expand_side_right_2_down {
        width: 100%;
        height: 40%;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
    }
}
@media screen and (max-width: 550px){
    .get_12k {
        height: 80%;
        padding: 5%;
        width: 35%;
    
    }
    .Expand_side_right {
        width: 100%;
        display: block;
    }
    .Expand_side_right_1 {
        width: 100%;
        
    }
    .Expand_side_right_2 {
        width: 100%;
        
        
    } 
    .Join h2 {
        font-size: 2em;
    }
    
    .Join p {
        font-size: 0.4em;
    }
}